*{ font-family: 'Noto Sans KR'; font-weight: 400; }
.right-0{right:0}
.left-0{ left:0}
.top-0{ top:0}

.system{
         margin-top:-130px;
       }

#popup_yubeen{
background: #5B1A7C;

}
#popup_yubeen span{
    color: #CBB5F7;
    font-size: 1.3em;
    font-weight: 300;
    padding-right: 35px;
}
#popup_yubeen button img{ width:20px}


#system{margin-top: -80;}

#system li h5{color: #5B1A7C; 
               font-size: 1.5em;
               font-weight:900;
               margin-top:20px;
             }

#system span{color: #5B1A7C;
                font-weight:500;   
                font-size:2rem;        
               }

               em.point{
                color: #E91C75;
                font-weight:600;
                font-size:inherit;
                font-style: normal;
               } 
#system h3, .youtubeback h3{
  color: #5B1A7C;
              font-size:2.5rem;
              text-align: center;
              font-weight:600;
              margin-left: -52px;
              margin-top: 9px;
          }

.youtubeback h3{
  transform: translateX(-253px);
}
/* #system h3{color: #5B1A7C;} */
.topgradient{
  background: rgb(180,167,216);
background: -moz-linear-gradient(180deg, rgba(180,167,216,1) 0%, rgba(153,203,204,1) 48%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(180,167,216,1) 0%, rgba(153,203,204,1) 48%, rgba(255,255,255,1) 100%);
background: linear-gradient(180deg, rgba(180,167,216,1) 0%, rgba(153,203,204,1) 48%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4a7d8",endColorstr="#ffffff",GradientType=1);
}

.bottomgradient{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,205,206,1) 25%, rgba(180,167,216,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,205,206,1) 25%, rgba(180,167,216,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,205,206,1) 25%, rgba(180,167,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b4a7d8",GradientType=1);
}

/*메인매너*/
.puzzle{
margin-top:200px;
}

.puzzle p{
  color: #fff;
  font-size:1.9em;
  text-align: center;
  text-shadow:1px 1px 1px gray;
}

.puzzle h3{
  font-weight:bold;
  margin-bottom:20px;
  font-size:3em;
  text-shadow:1px 1px 1px rgb(167, 167, 167);
  color: #5B1A7C;
}

#mainBanner{ 
  background-image: url(/yubeen/img/Gmainbanner.png); 
  background-size: auto 80%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center bottom;
}

.button{
  background-color:rgba(255, 255, 255, 0.3);
  color:#fff;
  border:1px solid #fff;
  padding:8px 29px;
  display: inline-block;
  font-size:1.5rem;
  font-weight:100;
  margin-left:60px;
}

/*큐엔에이*/

.qbg{
  background-image: url(/yubeen/img/Q.png);
  background-size: 100%  auto;
  background-repeat: no-repeat;
  width:280px;
  height:calc( 280px * 1.44 );

}

.qbg p{
  color:#5B1A7C; 
  font-size: 2.3em;
  font-weight:700;
  text-align: center;
  width: 210%;
  margin-top: 100px;
}

.abg{
  background-image: url(/yubeen/img/A.png);
  background-size: 100%  auto;
  background-repeat: no-repeat;
  width:280px;
  height:calc( 280px * 2.55 );
  background-position: center bottom;
}

.abg P{ 
  color: #5B1A7C;
  font-size: 1.6em;
  font-weight: 500;
  text-align:center;
  width:150%;
  margin-left: -105%;
  height: 9%;
}
.abg span{
  color: #E91C75;
  font-size: 1.6em;
  font-weight: 500;
  text-align:center;
  width:170%;
  margin-left: -116%;
  height:16%;
}



.gnb_1da.act{ color: #5B1A7C }


/*중간 베너*/
#middlebanner{
  background-image: url(/yubeen/img/Gmiddlebanner.png);
  background-size: 100%  auto;
  background-repeat: no-repeat;  
  text-align:end;
  max-height:400px;
  height:21vw;
  padding:5vw 0;
 
}

#youtube{

  background-size: 100%  auto;
  background-repeat: no-repeat;
}

.iconNumber li i img{
  transform: translateY(-29px);
}

.point ruby{
  font-size: 2.5rem;
  font-weight: 600;
}
.point rt{
  font-size:1.5em;
  
}

.youtubeback{
    background-image: url(/yubeen/img/back.png);
    background-size: 60%  auto;
    background-repeat: no-repeat;
    background-position:center -5%;

}

#Pbanner{
  background-image: url(/yubeen/img/Pbanner.png);
  background-size: 100%  auto;
  background-repeat: no-repeat;
  height: 100vh;

}

.snsimg ul li{
  width:20%;
  padding: 6px;
}
.snsimg ul li a{
  display: block;
}

#sns{
  margin-top: -325px;
}

#sns .container h3,
#sns .container h2{
  text-align: center;
  transform: translateY(-133px);
  color: #5b1a7c;
  font-weight: 600;

}

#sns .container h2{
 font-size:2.5rem; 
 transform: translateY(-142px);
 margin-left: 12px;
}

.snsimg ul li:nth-child(2){
  transform: translateY(-80px);
}
.snsimg ul li:nth-child(4){
  transform: translateY(-80px);
}
.snsimg ul li:nth-child(7){
  transform: translateY(-80px);
}
.snsimg ul li:nth-child(9){
  transform: translateY(-80px);
}

/*유튜브*/

.iconNumber li strong{
                      font-size: 1.5em;
                      font-weight: 500;
                       }

.iconNumber{align-items: stretch;
            margin: 102px 90px;
            width: 100%;
          }


.snsimg ul li {
  width: calc(20% - 12px);
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 44px;
  margin: 6px;
  cursor: grab;
  transition:0.5s;
}

.tag{
  position: absolute;
  width: 100%;
  transition: all 0.5s;
  color: #fff;
  top: 100;
  bottom: 100;
  background: #9FCDCE60;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0;
}

.snsimg ul li a{
 display: block;
 text-align: center;
}

.snsimg ul li:hover p{
  top: 0;
  bottom:0;
  transition: 3s;
}

.click{
  width: 151px;
  transform: translateX(37px);
}

