
/* ul{margin-top:-63px;} */


li{ list-style: none;
    margin-right:50px;
}
/* body{overflow-x: hidden;} */

#gnb{
margin-top: 3%;}

#gnb a{ display: block; color:black; text-decoration: none; text-align: center;}

.open > .fa-xmark { display:block }
.open > .fa-bars { display:none }

.fa-xmark { display:none }
.fa-bars { display:block }

.open + ul{ 
    display:flex !important; 
    position: fixed; background-color: #ccc;
    left:0; right:0; top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
    line-height: 2;
}

.open + #gnb:before{
    content:"";
    display: block;
    position: absolute;
    width:30px;
    height:30px;
    background-color: #ccc;
    left:0; right:0; margin:0 auto;
    transform:rotate(-45deg);
    top:-15px;
}

#main > div{height:100vh;}
#gnb li a{ position: relative;}
#gnb li a span{ position: relative;}


#gnb li a:before
{
    content: "";
    position: absolute;
    display: block;
    top:0;
    left:-10%; right:0;
    bottom:0;
    background-color:#2A5D83;
    border-radius: 20px;
    width:0;
    margin:auto;
    transition: 0.5s;
}

#gnb li:hover a:before{
    width:120%;

}

#gnb li:hover a{
    color:#d0d82e;
}

#portfolio .swiper-slide{
    max-height:700px;
    height:100vw;
}

/* #portfolio .sir{background-image:url('https://img-kyowontour.kyowontour.com/hp/202205/20220518153511665fgbisbmnlptyejr.jpg');}
#portfolio .hardcoord{background-image:url('https://img-kyowontour.kyowontour.com/hp/202206/20220608172042990azgelywwgtkwvbk.jpg');}
#portfolio .ecom{background-image:url('https://img-kyowontour.kyowontour.com/hp/202207/20220701172233643zgsedtmphwclbvq.jpg');} */

/*무임승차 법 : 최적화 */
#me h2{background-color:white; 
       transition-delay:1s;
       transition:0.8s;
       color: black;}
.aos-animate h2{
    background-color:red !important;
    color:white !important;
}



/* //////20220901 서유빈 작업////// */


/*상단, 네비*/
.topbar{
    background-color: #fff;
}

.logo img{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

#gnb a{
font-size: 1.2rem;
font-weight: 500;
}

#home{background-image:url("/sogae/img/Pmainbanner.gif");
    width: 100%;
    background-size:100% auto;
    background-repeat:no-repeat;
    height: 100vh;
   }


/* 프로필 */

 #home,
 #Profile
 {background-color:#231F20;
          height: 100vh;
        }

.cnt{
    color: #fff;
    border-left: 1px solid rgb(255, 255, 255);
    height:100%;
    left: 39%;
    position: absolute;
    margin-top: 10%;
}

.cnt p{
    font-weight:100;
}

#Profile .container-md .inner .me{
    margin-top: 17%;
    flex:0% !important; 
    max-width:0% !important;
}